<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="search.js"></script>

    <meta charset="UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <title>Massearch</title>

    <script>
        function addInput() {
            var newdiv = document.createElement('div');
            //newdiv.id = dynamicInput[counter];
            newdiv.innerHTML = "Entry <br><input type='text' name='myInputs[]' placeholder = 'https://example.com/search?q={searchterms}}' size = '45'> <input type='button' value='-' onClick='removeInput(this);'>";
            document.getElementById('formulario').appendChild(newdiv);
        }

        function removeInput(btn) {
            btn.parentNode.remove();

        }

        function submitTerm() {
            var input = document.getElementsByClassName('searchTerm').value;
            console.log(input)
        }




        var input = document.getElementById('input').value;

        function submitInput() {


            $(document).ready(function() {
                $('#select').click(function() {
                    $('input[type="checkbox"]:checked').each(function() { // $(':checkbox:checked')
                        window.open(this.value + input); // $(this).val()
                    });
                });
            });

        }
    </script>
</head>
<form id="myForm">
    <p>&nbsp;</p>
    <div>
        <h1 class="title" style="text-align: center;">Massearch</h1>
        <form method="POST" id="formulario">
            <p style="text-align: center;"><input class="searchTerm" type="text" placeholder="" id="input" /></p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;"><button type="button" id="select" onclick='submitInput()'>Search</button></p>
    </div>
    <div>&nbsp;</div>
    <input type="checkbox" name="inputs" value="https://www.google.com/search?q=" id="Google" style="text-align: center; text-align: center;margin-left: 3%;"> Google<br>
    <input type="checkbox" name="inputs" value="https://www.bing.com/search?q=" id="Bing" style="text-align: center; text-align: center;margin-left: 3%;"> Bing<br>
    <input type="checkbox" name="inputs" value="DuckDuckGo" style="text-align: center; text-align: center;margin-left: 3%;"> DuckDuckGo<br>
    <input type="checkbox" name="inputs" value="Wikipedia" style="text-align: center; text-align: center;margin-left: 3%;"> Wikipedia<br>
    <input type="checkbox" name="inputs" value="GitHub" style="text-align: center; text-align: center;margin-left: 3%;"> GitHub<br>
    <input type="checkbox" name="inputs" value="Ecosia" style="text-align: center; text-align: center;margin-left: 3%;"> Ecosia<br>
    <input type="checkbox" name="inputs" value="Dogpile" style="text-align: center; text-align: center;margin-left: 3%;"> Dogpile<br>
    <input type="checkbox" name="inputs" value="YippySearch" style="text-align: center; text-align: center;margin-left: 3%;"> YippySearch<br>
    <input type="checkbox" name="inputs" value="Yahoo" style="text-align: center;margin-left: 3%;"> Yahoo<br>
    <input type="checkbox" name="inputs" value="The Internet Archive" style="text-align: center; text-align: center;margin-left: 3%;"> The Internet Archive<br>
    <input type="checkbox" name="inputs" value="Youtube" style="text-align: center; text-align: center;margin-left: 3%;"> Youtube<br>
    <button type="button" name="inputs" value="add" onclick="addInput();" style="text-align: center; text-align: center;margin-left: 3%;"> Add<br>
</form>

<body>