body{
    filter: invert(100%);
    background-color: black;
}
.list {
    text-align: center; text-align: center;margin-left: 3%;
}
.bottom {
    text-align: center;
}
input[type="checkbox"]:checked {
    color: blue;
}
button {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 3px;
    border-radius: 6px;
    cursor:pointer;
    border: 0;
}